*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}

body{
    min-width: 100vh;
    background-color: #ADD8E6;
}
.container{
    position:relative;
    max-width: 1350px;
    width: 100%;
    margin:50px auto;
    
    
    padding: 20px;
}
.filterbuttons{
    display: flex;
    align-items: center;
    gap:10px;
 
   
}
button{
    padding:10px 20px;
    font-size:18px;
    background:#fff;
    border:none;
    box-shadow:0 0 10px rgba(0,0,0,0.05);
    border-radius: 6px;
    cursor:pointer;
    flex-wrap: warp;


}
.active{
    background-color:#4070f4;
    color:#fff ;
}

.filtercard{
    display: flex;
    margin-top:25px;
    gap: 20px;
    flex-wrap: wrap;
}
.card{
    flex-grow: 1;
    flex-basis:300px ;
    background-color: #fff;
    padding:3px;
    border-radius:8px;  
    box-shadow:0 0 10px rgba(0,0,0,0.05);
}
.card img{
    width:100%;
    height:210px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;

}

.card-body{
    padding:15px 20px 20px;
}
.card_title{
    font-size: 20px;
    font-weight:500;
    color:#333;    
}

.card_text{
    font-size:18px;
    color:#333;
}
.card.hide{
    display: none;
}
.lg img{
    border-radius: 50%;
    
}
.lg .card{
    position: absolute;
    margin-left: 35%;
}
.lg .card_title{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}